{% extends 'root.html' %}

{% block title %}Panel Managera{% endblock title %}

{% block body %}

<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'manager_seniors' %}">Manager</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manager_workers' %}">Pracownicy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manager_medicines' %}">Leki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manager_seniors' %}">Seniorzy</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<ul>
{% for senior in seniors %}
<li>{{senior.imie}} {{senior.nazwisko}}</li>
{% endfor %}
</ul>

{% endblock body %}