{% extends 'root.html' %}

{% block title %}Panel Managera{% endblock title %}

{% block body %}

<div class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="{% url 'manager' %}">Manager</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'manager_workers' %}"><b>Pracownicy</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'manager_medicines' %}">Leki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'manager_seniors' %}">Seniorzy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'logout_user' %}">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-2">
    <table class="table">
    <thead class="thead-white">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Imie</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Stanowisko</th>
        <th scope="col">Telefon</th>
        <th scope="col">E-mail</th>
        <th scope="col"></th>
        
    </tr>
    </thead>
    <tbody>

        <a href="{% url 'manager_workers' %}">
            <button type="button" class="btn btn-info m-1 pl-3 pr-3">Dodaj nowego</button>
        </a>
    {% for worker in workers %}
        <tr>
            <th scope="row" class="align-middle">{{worker.id}}</th>
            <td class="align-middle">{{worker.imie}}</td>
            <td class="align-middle">{{worker.nazwisko}}</td>
            <td class="align-middle">{{worker.stanowiska.nazwa}}</td>
            <td class="align-middle">{{worker.telefon}}</td>
            <td class="align-middle">{{worker.adres_email}}</td>
            <td class="align-middle text-center">
                <div class="d-flex justify-content-end">
                    <div class="">
                        <a href="{% url 'manager_workers' %}">
                            <button type="button" class="btn btn-info m-1 pl-3 pr-3">Edytuj</button>
                        </a>
                    </div>
                </div>
                
            </td>
            
            
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>



{% endblock body %}