{% extends 'root.html' %}

{% block title %}Panel Opiekuna{% endblock title %}

{% block body %}

<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'caretaker_seniors' %}">Opiekun</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'caretaker_seniors' %}">Seniorzy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'caretaker_medicines' %}">Leki</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<ul>
{% for medicine in medicines %}
<li>{{medicine.nazwa}} - {{medicine.ilosc_opakowan}} szt.</li>
{% endfor %}
</ul>

{% endblock body %}